@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin btn-selected ($width, $height){
  border-radius: 50px;
  font-weight: 700;
  color: white;
  background: $orange;
  width: $width;
  height: $height;
}
@mixin btn-unselected ($width, $height) {
  border-radius: 50px;
  font-weight: 700;
  color: $orange;
  // background: white;
  border: 1px solid $orange;
  width: $width;
  height: $height;
}

@mixin font-w700 ($size) {
  font-size: $size;
  font-weight: 700;
}


@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin web {
  @media (min-width: 1280px) {
    @content;
  }
}
