// color
$orange: #ff6600;
$light-gray: #f5f8fa;
$mid-gray: #657786;
$link-blue: #0099ff;
$black: #1C1C1C;
$shadowColor: rgba(0, 0, 0, .3);
$popularColor: #F5F8FA;
$dividerColor: #E6ECF0;
// animation
$defaultDuration: .3s;
